// Esquema de Colores

// Esquema de colores Grises
$white: #fff;
$platinum: #E8E8E8;
$lightbaba: #BABABA;

// Esquema de colores salmon
$Darmon: #EE9480;
$melon: #F4BAAE;
$palink:#FADFDA;

//Esquema de colores celestes
$ballblue: #2AB7CA;
$middleblue:#77D1DD;
$baloon: #B1E4EB;

//Esquema de colores grafitos
$onyx: #333745;
$spanishgray: #8F9199;
$lavendergray: #C7C8CC;

//Esquema de Colores Negros
$raisinblack: #221D23;
$niquel: #726F73;
$silverchalice: #AEACAF;

// Tipografias

$ralewayBold: 'Raleway Bold',
italic;
$ralewayRegular: 'Raleway Regular',
/*font-family: 'Raleway', sans-serif;*/
sans-serif;
$opensansR: 'Open Sans Regular',
/*font-family: 'Open Sans', sans-serif;*/
sans-serif;

//Font Weight.
$regular:400;
$black: 700;


//Font Size
$xxxxx-large:50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//