.item-footer {
    display: grid;
    background-color: $raisinblack;
    text-align: center;

}

a {
    color: red;
    text-align: left;
    list-style: none;

}

i,
h5 {
    color: orange;
    text-align: right;
}